.dividends {

  &__item {
    margin-top: 3.35rem;
  }

  .period {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    @media ($media_sm) {
      flex-direction: column;
    }

    &-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      h4 {
        font-weight: 600;
        color: $color_black_title;
        margin-right: 0.9rem;
      }

      &-date {
        display: flex;
        align-items: center;
        padding: 0.2rem 0;
        border-bottom: 1px dashed lighten($color_blue, 10%);

        span {
          font-weight: 600;
          color: $color_blue;
          line-height: 1.4;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-left: 0.5rem;
        }
      }

      &-filter {
        display: inline-block;
        background-color: #FCFDFF;
        border: 1px solid #D3E3FF;
        border-radius: 6px;
        margin-left: 32px;
        padding: 5px 16px;
        font-weight: 600;
        font-size: 14px;
        color: $color_blue;
        transition: background-color .3s;

        &:hover {
          background-color: $color_blue_hover;
          color: $color_white;
        }
      }
    }

    &-status {
      display: flex;
      align-items: center;

      @media ($media_sm) {
        flex-wrap: wrap;

        span {
          margin-top: 1rem;
        }
      }

      &-checkbox {
        font-weight: 500;

        input[type="checkbox"] {
          margin-right: 0.3rem;
        }
      }

      span {
        position: relative;
        padding-left: 1rem;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        &.success {
          &::before {
            background-color: $color_green_light;
          }
        }

        &.error {
          &::before {
            background-color: lighten($color_red, 15%);
          }
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          background-color: lighten($color_blue, 15%);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
        }
      }
    }
  }

  $indicator_item_width: 5.2rem;
  $indicator_item_margin-right: 0.5rem;

  .table {

    &-fixed {

      &-title {

        h5 {
          font-weight: 500;

          display: flex;
          align-items: center;

          svg {
            margin-left: 0.5rem;
          }
        }
      }

      &-item {
        width: 11.5rem;

        &.bottom {
          background-color: $color_light_grey;

          h5 {
            overflow: hidden;
            text-overflow: ellipsis;
            color: $color_black_title;
          }
        }

        &.inline {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .table-fixed-item-content {
            flex-direction: row;
            align-items: center;
          }

          .table-fixed-item-percent  {
            margin-top: 3px;
          }
        }

        &-content {
          display: flex;
          flex-direction: column;

          &-first {
            display: flex;
            align-items: center;
          }

          &-second {
            display: flex;
            align-items: center;

            &>span {
              max-width: 75px;
            }
          }
        }

        &-price {
          font-weight: 500;
          font-size: 12px;
          color: $color_blue;
          margin-left: 9px;
        }

        &-stat {
          margin-left: 0.4rem;
          display: flex;
          flex-direction: column;

          &-cost {
            margin-bottom: 0.2rem;

            &.accent {
              color: $color_blue;
              font-size: 12px;
            }
          }

        }

        &-percent {
          font-size: 0.7rem;
          display: inline-flex;
          align-items: center;
          font-weight: 600;
          line-height: 1;
          margin-left: 8px;

          span {
            margin-left: 5px;
          }

          &.success {
            color: $color_green;
          }

          &.error {
            color: $color_red;
          }

          .ttm {
            margin-left: 0.2rem;
          }
        }
      }
    }

    &-header {
      padding-left: 14.5rem;
      padding-right: 0;

      h5 {
        min-width: $indicator_item_width;
        margin-right: $indicator_item_margin-right;
        font-weight: 500;
        color: $color_table_header_title;
      }
    }

    &-content {
      padding-left: 12rem;

      &-item {
        align-items: stretch;
        padding-right: 0;

        &.bottom {
          background-color: $color_light_grey;
        }

        &-info {

          span {
            min-width: $indicator_item_width;
            margin-right: $indicator_item_margin-right;
            display: flex;
            align-items: center;

            &.success {
              background-color: $color_green_light;
              color: $color_white;
              justify-content: center;
            }

            &.error {
              background-color: lighten($color_red, 15%);
              color: $color_white;
              justify-content: center;
            }

            &.primary {
              background-color: lighten($color_blue, 15%);
              color: $color_white;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .strategyCards {

    &-card {
      flex-basis: 49%;
      display: flex;
      flex-direction: column;
      &-coef {
        display: flex;

        span {
          color: $color_white;
          background-color: $color_blue;
          padding: 0.8rem 1.6rem;
          border-radius: 0.5rem;
          font-size: 1.6rem;
					content: '';
        }
      }

      &-cash {
        display: flex;
        justify-content: space-between;

        &-item {

          h5 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: $color_grey;
          }

          span {
            font-size: 1.5rem;
            font-weight: 600;
            color: $color_black_title;

            &.success {
              color: $color_green;
            }

            &.error {
              color: $color_red;
            }
          }
        }
      }

      &-content {
        display: flex;
        margin-top: 1.6rem;
        flex-grow: 1;

        @media ($media_sm) {
          flex-wrap: wrap;

          &-graph,
          &-info {
            flex-basis: 100%;
          }
        }

        &-graph {
          flex-basis: 33%;
          margin-right: 2rem;
          align-self: center;
          position: relative;

          @media ($media_sm) {
            margin: 0 0 2rem 0;
          }

          &-info {
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.9);
            margin-top: -0.25rem;

            h5 {
              font-weight: 500;
              margin-bottom: 0.5rem;
            }

            span {
              font-weight: 600;
              color: $color_black_title;
            }
          }

          #dividendsGraph {
            height: 125px;

            transform: scale(1.5);
            transform-origin: center;

            @media ($media_xl) {
              transform: scale(1.3);
            }

            .highcharts-root {
              filter: drop-shadow(0px 2px 2px lighten($color_grey, 10%));
            }

            .highcharts-point-hover {
              // когда навели на часть круга
              filter: drop-shadow(0px 1px 1px $color_grey);
            }

            g.highcharts-label {
              opacity: 0;
            }

            .highcharts-data-label,
            .highcharts-data-label-connector,
            .highcharts-credits {
              display: none;
            }

            .highcharts-halo {
              display: none;
            }

            .highcharts-series-group {
              transform: scale(1.1);
              transform-origin: center;
            }

            .highcharts-tooltip {
              top: 0 !important;
              left: 0 !important;
              width: 100%;
              height: 100%;

              span {
                font-family: "Montserrat", sans-serif !important;
                top: 50% !important;
                left: 50% !important;
                transform: translate(-50%, -50%) scale(0.9);
                margin-top: -0.2rem !important;

                h5 {
                  font-weight: 500;
                  margin-bottom: 0.2rem;
                }

                span {
                  font-weight: 600;
                  color: $color_black_title;
                }
              }
            }
          }
        }

        &-info {
          flex-basis: 67%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
              font-weight: 500;
              position: relative;
              padding-left: 1rem;

              &::before {
                content: "";
                position: absolute;
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                background-color: $color_grey;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
              }

              &.primary {
                &::before {
                  background-color: $color_blue;
                }
              }

              &.success {
                &::before {
                  background-color: $color_green;
                }
              }

              &.error {
                &::before {
                  background-color: $color_red;
                }
              }
            }

            span {
              font-weight: 600;
              color: $color_black_title;
            }

            @media ($media_sm) {
              &:not(:last-child) {
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }
}