
.adv-portfolio {


  h1 {
    margin-bottom: 3.56rem;
    line-height: 1.4;
    font-size: 2.6rem;

    @media ($media_sm) {
      font-size: 2rem;
    }
  }
}

.portfolio__prompt {
  margin-bottom: 2.7rem;
  box-shadow: $shadow-block;
}

.portfolio__prompt-sticky {
  //display: flex;
  //@include gap(3rem)
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3rem;
  row-gap: 1rem;
  align-items: center;

  @media ($media_lg) {
    grid-template-columns: 1fr;
  }
  a {
    font-weight: 500;
    color: $color_blue;
    text-decoration: none;

    &:hover, &:focus {
      color: $color_blue_hover;
    }
  }
}

.adv-portfolio__form {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 16%;
    transform: translateY(-50%);
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: $color-yellow;
    z-index: -1;
    @media ($media_sm) {
      display: none;
    }
  }

  .btn {
    //box-shadow: $shadow-btn;
  }
}

.adv-portfolio__btns {
  //display: flex;
  //@include gap(1rem);
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
  margin-top: 2.7rem;

  @media ($media_md) {
    grid-template-columns: 1fr;
    //display: block;
    //@include gap(0);
  }

  .progress {
    flex-grow: 1;
    @media ($media_md) {
      margin-bottom: 1rem;
    }
  }
}
