.adv-prtf-ready {
  h2 {
    align-self: start;
    //margin-bottom: 24/18*1rem;
    margin-bottom: rem(24,18);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media  ($media_md) {
      // потому что повернуты кнопки, можно больше строк
      -webkit-line-clamp: 4;
    }
  }

  .highcharts-figure, .highcharts-data-table table {
    position: relative;
    //min-width: 320px;
    //max-width: 800px;
    margin: 1em auto;
  }

  #portfolio__comparison-chart {
    height: 450px;
  }

  .highcharts-data-table table {
    font-family: inherit;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }

  .highcharts-data-table caption {
    padding: 1em 0;
    //font-size: 1.2em;
    color: #555555;
  }

  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }

  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }

  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }

  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }

}

.h-positive {
  color: $color_green;
}

.h-negative {
  color: $color_red;
}

.adv-prtf-ready__prompt-sticky {
  //margin-bottom: 60/18*1rem;
  margin-bottom: rem(60,18);
  line-height: 1.6;
  @media ($media_md) {
    //font-size: 16/14*1rem;
    font-size: rem(16,14);
  }
}

.adv-prtf-ready__efficiency {
  --gap: 2rem;
  //display: grid;
  //grid-template-columns: 1fr min-content;
  //gap: 2rem;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(0px - var(--gap));

  margin-bottom: 1.3333rem;
  @media ($media_md)
 {
    //grid-template-columns: 1fr;
  }
}

.adv-prtf-ready__efficiency-descr {
  flex-grow: 3;
  width: min-content;
  margin-left: var(--gap);
  margin-bottom: var(--gap);

  @include block-beauty;
  //padding: 30/18*1rem;
  padding: rem(30,18);

  header {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 1rem;
  }

}

.adv-prtf-ready__efficiency-header {
  display: flex;
}

.adv-prtf-ready__efficiency__btns {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  width: min-content;
  border: 1px solid $color_block_border;
  border-radius: 12px;

  @media  ($media_md) {
    //position: absolute;
    //top: calc(100% + 1rem);
    //right: 0;
    grid-template-columns: min-content;
    grid-template-rows: repeat(3, max-content);
  }

  &::before {
    align-self: center;
    content: "";
    display: block;
    width: 1px;
    height: 32px;
    background: $color_block_border;
    @media  ($media_md) {
      justify-self: center;
      width: 32px;
      height: 1px;
    }
  }

  .btn:first-child {
    order: -1;
  }
}

.adv-prtf-ready__efficiency-pie {
  @include block-beauty;

  flex-grow: 1;
  //align-self: start;
  width: min-content;
  margin-left: var(--gap);
  margin-bottom: var(--gap);

  position: relative;
  //padding-top: 30/18*1rem;
  //padding-bottom: 30/18*1rem;
  padding-top: rem(30,18);
  padding-bottom: rem(30,18);
  //padding-left: 5rem;
  //padding-right: 8.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  //padding-right: calc(56px + 1rem);

  text-align: center;
  //order: 2;
  @media ($media_xl) {
    //padding-left: 2rem;
    //padding-right: calc(56px + 1rem);
  }
  @media ($media_md) {
    //padding-left: 1rem;
    width: 100%;

  }

  .tooltip {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;

    @media ($media_sm) {
      top: 1rem;
      right: 1rem;
    }
  }

  .tooltip__text {

  }

  svg {
    circle {
      fill: transparent;
    }

    circle:nth-child(1) {
      stroke: $color_body_bg;
      //stroke-width: 7.5;
      //stroke-width: 6.36;
      stroke-width: 5;
      // радиус был 15.33, сейчас 15.9 оба круга
    }

    circle:nth-child(2) {
      stroke: $color_blue;
      //stroke-width: 6.36;
      stroke-width: 5;
      stroke-dashoffset: 50;
    }
  }

  a {
    @media ($media_md) {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}

.adv-prtf-ready__pie-chart {
  order: 2;
  position: relative;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  svg {

    @media ($media_xs) {
      max-width: 180px;
      max-height: 180px;
    }
  }

}

.adv-prtf-ready__pie-chart-numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 24px;
  line-height: 1;
  white-space: nowrap;
  @media ($media_xs) {
    font-size: 14px;
  }

  span {
    //font-size: 36/18*1rem;
    font-size: rem(36,18);

    &:first-child {
      font-weight: 600;
    }

    &:last-child {
      font-weight: 500;
    }
  }

  p {
    &:last-child {
      margin-top: 0.5rem;
      //font-size: 16/18*1rem;
      font-size: rem(16,18);
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

.adv-prtf-ready__efficiency-text {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1.8rem;

  @media ($media_md) {
    //margin-right: 80px;
  }
  @media ($media_sm) {
    grid-template-columns: 1fr;
  }
}

.adv-prtf-ready__efficiency-data {
  margin-top: 5px;
  margin-bottom: 5px;

  span {
    display: block;

    &:first-child {
      margin-bottom: 0.5rem;
      //font-size: 14/18*1rem;
      font-size: rem(14,18);
      font-weight: 500;
      line-height: 1.5;
    }

    &:last-child {
      line-height: 1;
      white-space: nowrap;
    }
  }

  &--stocks, &--cash {
    span:last-child {
      //font-size: 50/18*1rem;
      //font-size: 2rem;
      font-size: 1.8rem;
      font-weight: 700;

    }
  }

  &--income, &--daily-income {

    & > span:last-child {
      //font-size: 24/18*1rem;
      font-size: rem(24,18);
      font-weight: 700;
    }
  }
}

.adv-prtf-ready__comparison {
  margin-bottom: 3rem;

}

.adv-prtf-ready__subtitle {
  //margin-bottom: 50/18*1rem;
  margin-bottom: rem(50,18);
  font-weight: 500;

}

.adv-prtf-ready__comparison-charts {
  @include block-beauty;
  padding: 1.5rem;
  overflow: hidden;

  .table-wrap {
    --td-paddind: 1em 1.33rem;

    @media ($media_sm) {
      --td-paddind: 0.7em 0.5rem;
    }

    &__header {
      overflow-x: auto;
      flex-basis: 100%;
    }

    &__content {
      display: flex;
    }

    &__names {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      span {
        font-weight: 500;
        padding: var(--td-paddind);
        display: inline-block;
        white-space: nowrap;
      }
    }
  }
  th {
    white-space: nowrap;
  }
}

.adv-prtf-ready__comparison-tabs {
  border-bottom: 1px solid $color_block_border;

  @media ($media_sm) {
    display: flex;
    justify-content: space-between;
  }

  input[type="radio"] {
    @include visually-hidden;

    &:checked + label {

      color: $color_blue;

      &::after {
        background: $color_blue;
      }
    }
  }

  label {
    position: relative;
    display: inline-block;
    //padding: 12/18*1rem 0;
    padding: rem(12,18) 0;
    //margin-right: 32/18*1rem;
    margin-right: rem(32,18);
    font-size: 1rem;
    font-weight: 500;

    @media ($media_sm) {
      margin-right: 0;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: transparent;
    }
  }
}

.adv-prtf-ready__comparison-table {
  overflow-x: auto;
  margin-top: 2rem;
  //margin-left: -1.5rem;
  //margin-right: -1.5rem;
  //width: calc(100% + 3rem);

  @media ($media_md) {
    //width: 100%;
    //margin-left: auto;
    //margin-right: auto;
  }

  tr {
    background: $color-inverse;
  }

  td {
    border: none;
    font-weight: 500;
  }
}

.adv-prtf-ready__btns {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
  margin-top: 2.7rem;
  margin-bottom: 2rem;

  @media ($media_md) {
    grid-template-columns: 1fr;
    //display: block;
    //@include gap(0);
  }

  .btn {
    @media ($media_md) {
      //font-size: 18/14*1rem;
      font-size: rem(18,14);
    }
  }

  //.progress {
  //  flex-grow: 1;
  //  @media ($media_md) {
  //    margin-bottom: 1rem;
  //  }
  //}
}

.adv-prtf-ready__efficiency-wrap {
  margin-bottom: 3rem;

}

.adv-prtf-ready__efficiency-table {
  margin-bottom: 2rem;
  @media ($media_md) {

    //width: calc(100% + 2 * 1.77778rem);
    //margin-left: -1.77778rem;
    //margin-right: -1.77778rem;

    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  tbody {
    @media ($media_md) {
      display: contents;
    }
  }

  .table__title-tr {
    @media ($media_md) {
      display: none;
    }
  }

  tr {
    @media ($media_md) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      //gap: 1rem;
      border-bottom: 1px solid $color_block_border;
    }
  }

  .tr-hold {
    @media ($media_md) {

      background-color: $color_th_bg;
    }
  }

  .tr-sell {
    .td-count, .td-price--m, .td-summ--day {
      display: table-cell;
      @media ($media_md) {
        display: none;
      }
    }
  }

  td {
    @media ($media_md) {
      display: block;
      padding: 1rem;
      border: none;
      //font-size: 16/14*1rem;
      font-size: rem(16,14);
      font-weight: 500;

      &::before {
        display: block;
        margin-bottom: 0.2rem;
        //font-size: 13/14*1rem;
        font-size: rem(13,14);
        font-weight: 500;
        //line-height: 16/13*1;
        line-height: math.div(16,13);
        color: #606371;
      }
    }
  }

  .td-actions {
    @media ($media_md) {

    }
  }

  .td-name {
    @media ($media_md) {
      grid-column: 1/-1;
      //background: $color_th_bg;

      .ticket-title {
        display: inline-block;
        vertical-align: middle;
        max-width: 140px;
        //font-size: 16/14*1rem;
        font-size: rem(16,14);
      }
      .ticket-abbr {
        //font-size: 18/14*1rem;
        font-size: rem(18,14);
      }
    }
  }

  .td-count {
    @media ($media_md) {
      order: 3;
      //font-size: 16/14*1rem;
      font-size: rem(16,14);
      font-weight: 500;

      &::before {
        content: "Кол-во ";
      }
    }
  }

  .td-price--m {
    @media ($media_md) {
      order: 4;
      &::before {
        content: "Ср. цена ";
      }
    }
  }

  .td-price--market {
    @media ($media_md) {
      order: 1;
      &::before {
        content: "Рын. цена ";
      }
    }
  }

  .td-summ--day {
    @media ($media_md) {
      order: 5;
      &::before {
        content: "Дн. доход ";
      }
    }
  }

  .td-summ--all {
    @media ($media_md) {
      order: 2;
      &::before {
        content: "Общ. доход ";
      }
    }
  }

  .td-total {
    font-weight: 700;
    @media ($media_md) {
      grid-column: 1/-1;
      background: $color_th_bg;
    }
  }

  .td-total-summ {
    @media ($media_md) {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, minmax(max-content, 1fr));
    }
  }

  .tr-total__name {
    @media ($media_md) {
      display: block;
      margin-bottom: .2rem;
    }

  }

  .tr-total__value {
    //margin-left: 12/18*1rem;
    margin-left: rem(12,18);
    font-weight: 600;
    @media ($media_md) {
      margin-left: unset;
    }

  }

  .tr-total__stocks {
    .tr-total__name {
      @media ($media_md) {
        font-size: 0;

        &::before {
          content: "Кол-во";
          font-size: .92857rem;
        }
      }

    }
  }

  .tr-total__summ {
    margin-left: 50px;
    @media ($media_md) {
      margin-left: unset;
    }

    .tr-total__name {
      @media ($media_md) {
        font-size: .92857rem;
      }
    }

    span:last-child {
      @media ($media_md) {
        margin-left: 1.5rem;
      }
    }

  }

  .btn {
    padding: 0;
    @media ($media_md) {
      width: min-content;
      padding: 0;
      //font-size: 18/14*1rem;
      font-size: rem(18,14);
    }
  }
}

.adv-prtf-ready__comparison-table {
  @media ($media_md) {
    //display: block;
    //width: calc(100% + 2 * 1.77778rem);
    //margin-left: -1.77778rem;
    //margin-right: -1.77778rem;

  }
}

.adv-prtf-ready__dividends {
  margin-bottom: 3rem;
}

.adv-prtf-ready__dividends-inner {
  @include block-beauty;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //padding: 12/18*1rem;
  padding: rem(12,18);

  @media ($media_md) {
    grid-template-columns: 1fr;
  }

  h3 {
    margin-bottom: 1rem;
    //font-size: 20/18*1rem;
    font-size: rem(20,18);
    font-weight: 600;
    //line-height: 34/20*1;
    line-height: math.div(34,20);
    @media ($media_md) {
      //font-size: 20/14*1rem;
      font-size: rem(20,14);
    }
  }
}

.adv-prtf-ready__dividends-summ {
  --color: #{$color-inverse};
  --bg: #{$color_blue};
  width: max-content;
  //padding: 15/18*1rem 32/18*1rem;
  padding: rem(15,18) rem(32,18);
  //font-size: 28/18*1rem;
  font-size: rem(28,18);
  line-height: 1;
  font-weight: 700;
  background: var(--bg);
  color: var(--color);
  border-radius: 8px;
  @media ($media_md) {
    //font-size: 28/14*1rem;
    font-size: rem(28,14);
  }
}

.adv-prtf-ready__dividends-year {
  padding: 1rem;
}

.adv-prtf-ready__description {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  gap: 1rem;

  @media ($media_sm) {
    grid-template-columns: repeat(2, 1fr);

  }

  dt {
    margin-bottom: 0.5rem;
    //font-size: 16/18*1rem;
    font-size: rem(16,18);
    color: $color_grey;
    @media ($media_md) {
      //font-size: 16/14*1rem;
      font-size: rem(16,14);
    }
  }

  dd {
    //font-size: 16/18*1rem;
    font-size: rem(16,18);
    font-weight: 500;
    @media ($media_md) {
      //font-size: 24/14*1rem;
      font-size: rem(24,14);
    }
  }
}

.adv-prtf-ready__next-payout {
  display: grid;
  grid-template-columns: 1fr max-content;
  //padding: 1rem 32/18*1rem;
  padding: 1rem rem(32,18);
  border-radius: 16px;
  background: $color_blue;
  color: $color-inverse;

  h3 {
    grid-column: 1/-1;
  }

  .adv-prtf-ready__dividends-summ {
    --color: #{$color_blue};
    --bg: #{$color-inverse};
    align-self: end;
  }

  .ticket-name {
    grid-column: 1/-1;
    @media ($media_md) {
      margin-bottom: 1.5rem;
      //font-size: 16/14*1rem;
      font-size: rem(16,14);
    }
  }

  .ticket-abbr {
    color: inherit;
    @media ($media_md) {
      //font-size: 24/14*1rem;
      font-size: rem(24,14);
    }
  }

  .ticket-title {
    max-width: 100%;
  }
}

.adv-prtf-ready__link-more {
  justify-self: end;
  align-self: end;
  //font-size: 16/18*1rem;
  font-size: rem(16,18);
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  @media ($media_md) {
    //font-size: 16/14*1rem;
    font-size: rem(16,14);
  }

  &:hover, &:focus {
    opacity: 0.8;
  }
}

.apr-share {
  @include block-beauty;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: -46px;
    left: 30px;
    display: block;
    width: 172px;
    height: 172px;
    border-radius: 50%;
    background: $color_red;
    @media ($media_xl) {
      top: -100px;
      left: -120px;
    }
    @media ($media_sm) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -69px;
    right: 40px;
    display: block;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    background: $color_yellow;
    @media ($media_sm) {
      display: none;
    }
  }

  h3 {
    margin-bottom: 2rem;
  }

  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  input[type="url"] {
    color: $color_blue;
  }
}

.apr-share__inner {
  max-width: 760px;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  @media ($media_lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &--bg {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      background: #fafafa;
      z-index: -1;
    }
  }
}

.apr-share__btns {
  display: grid;
  grid-template-columns: auto 56px;
  column-gap: 8px;
  margin-bottom: 2rem;
}

.apr-share__text {
  font-size: 1rem;
  font-weight: 500;
  color: #787a87;
  @media ($media_md) {
    display: flex;
    font-size: 16px;
  }

  .checkbox-toggle__toggle {
    @media ($media_md) {
      margin-right: 0.5rem;
    }
  }
}

.apr-share__friend {
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 1.6;
  @media ($media_md) {
    font-size: 16px;
  }

  b {
    font-weight: 700;
  }
}

.adv-prtf-ready__comparison-chart {
  margin-top: 2rem;
  margin-bottom: -2rem;

  @media ($media_md) {
    margin-bottom: -3rem;
  }
}
