.advisor {
  //padding: 5.5rem 14rem;
  padding-bottom: 100px;
  margin: 2rem 7rem 0 2rem;

  @media ($media_md) {
    padding: 2.8rem var(--section_padding);
    margin: 0;
  }
}

.page-without-menu .advisor {
  margin: 1rem 7rem 0;
  @media ($media_md) {
    padding: 2.8rem var(--section_padding);
    margin: 0;
  }
}
