.checkbox {

}

.checkbox-toggle {
  cursor: pointer;

  @media ($media_sm) {
    cursor: initial;
  }

  &__descr {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 1.1rem;

    &--light {
      color: $color_grey;
    }
  }

  &__text {

    &--primary {
      color: $color_blue;
    }
  }
}

.checkbox-toggle__input {
  @include visually-hidden;

  & + span {
    --color: #{$color_grey};
    --size: 26px;
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: calc(var(--size) + 4px);
    background: var(--color);
    border: 2px solid var(--color);
    border-radius: calc((var(--size) + 4px) / 2);
    //transform: scale(0.9);

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: var(--size);
      height: var(--size);
      //right: 27px;
      //top: 2px;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
      background: $color-inverse;
      border-radius: 50%;
      transition: left .2s ease-out;
    }

  }

  &:checked {
    & + span {
      --color: #{$color_blue};

      &::before {
        left: calc(100% - var(--size) - 2px);
      }
    }
  }
}
