.progress {
  --point: 0%;
  display: flex;
  align-items: center;
  padding: 0.7em;
  font-weight: 400;
  border-radius: 8px;
  color: $color-inverse;
  background: linear-gradient(to right, $color_progress_from var(--point), $color_progress_to var(--point));
  text-align: center;

  @media ($media_sm) {
    flex-wrap: wrap;
    padding: 0;
    background: none;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 16px;
      padding: 0.7em;
      font-weight: 400;
      border-radius: 8px;
      color: $color-inverse;
      background: linear-gradient(to right, $color_progress_from var(--point), $color_progress_to var(--point));
    }
  }

  &--0 {
    --point: 0%;
    color: $color_blue;
  }

  &--1-3 {
    --point: 33.33%;
  }

  &--1-2 {
    --point: 50%;
  }

  &--2-3 {
    --point: 66.66%;
  }

  &--99-100 {
    --point: calc(100% - 8px);
  }
}

.progress__value {
  display: block;
  width: var(--point);
  text-align: center;
  white-space: nowrap;
  @media ($media_sm) {
    width: 100%;
    margin-bottom: 0.7rem;
    font-weight: 600;
    color: $color_black_main;
  }
}
