.prompt {
  position: relative;
  padding: 2rem 1.8rem 2rem 5.5rem; // 5.5 = 6rem - border
  margin-top: 12px;
  margin-bottom: 12px;
  //font-size: 14px;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  background: #ffffff;
  border-radius: 1.1rem;
  border: 1px solid $color_block_border;
  border-left: 0.5rem solid $color_blue;

  @media ($media_md) {
    font-size: 1.14286rem;
  }


  &::before {
    flex-shrink: 0;
    content: "";
    position: absolute;

    // top: 18px;

    top: 50%;
    transform: translateY(-50%);

    @media ($media_sm) {
      top: 2.5rem;
      transform: unset;
    }

    left: 1.75rem;  // 6rem/2 - 2,5rem/2
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 8px;
    background: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.75 36.25H26.25' stroke='%233E54D8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 31.25V22.5' stroke='%233E54D8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 17.5L20 22.5L25 17.5' stroke='%233E54D8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.2975 26.0956C10.8111 24.9347 9.60725 23.452 8.77635 21.759C7.94545 20.0659 7.50914 18.2066 7.50019 16.3206C7.46275 9.54525 12.925 3.91305 19.6986 3.75362C22.3234 3.69042 24.9014 4.45529 27.0671 5.93973C29.2327 7.42418 30.8759 9.55282 31.7637 12.0237C32.6515 14.4946 32.7387 17.1824 32.013 19.7056C31.2873 22.2289 29.7855 24.4596 27.7207 26.0813C27.2659 26.4337 26.8972 26.8848 26.6424 27.4007C26.3876 27.9165 26.2534 28.4835 26.25 29.0588L26.25 30.0001C26.25 30.3316 26.1183 30.6495 25.8839 30.884C25.6495 31.1184 25.3315 31.2501 25 31.2501H15C14.6685 31.2501 14.3505 31.1184 14.1161 30.884C13.8817 30.6495 13.75 30.3316 13.75 30.0001L13.75 29.0577C13.7485 28.4861 13.617 27.9224 13.3654 27.4091C13.1137 26.8959 12.7485 26.4467 12.2975 26.0956V26.0956Z' stroke='%233E54D8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  }

  ol {
    padding-left: 0;
    font-size: 1rem;
    list-style-position: inside;
    li + li {
      margin-top: 10px;
    }
  }

  p {
    margin-top: 0;
  }

}

.prompt__title {
  font-size: 1.11rem;
  font-weight: 600;
}

.prompt.isNotVerified {


  //@include _1000 {
  //  display: flex;
  //  //column-gap: 24px;
  //  //@include gap(24px);
  //}

  div:last-child {
    text-align: center;
    //@include _1000 {
    //  display: flex;
    //  //column-gap: 12px;
    //  @include gap(12px);
    //  text-align: left;
    //}
  }
}

.prompt--without-icon {
  &::before {
    display: none;
  }
}

.prompt--danger {
  border-left: 0.5rem solid $color_yellow;
  background: $danger_bg;

  &::before {
    //width: 24px;
    //height: 24px;
    //background: url("../img/sprite.svg#icon-attention") no-repeat center / contain;
    background: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8365 6.24761L4.09022 29.9964C3.87027 30.3764 3.75427 30.8077 3.75391 31.2467C3.75354 31.6858 3.86883 32.1172 4.08816 32.4976C4.30748 32.878 4.62312 33.1939 5.00331 33.4135C5.3835 33.6332 5.81484 33.7488 6.25391 33.7488H33.7465C34.1856 33.7488 34.6169 33.6332 34.9971 33.4135C35.3773 33.1939 35.6929 32.878 35.9123 32.4976C36.1316 32.1172 36.2469 31.6858 36.2465 31.2467C36.2461 30.8077 36.1301 30.3764 35.9102 29.9964L22.1639 6.24761C21.9443 5.86821 21.6288 5.55322 21.249 5.33425C20.8692 5.11527 20.4386 5 20.0002 5C19.5618 5 19.1312 5.11527 18.7514 5.33425C18.3716 5.55322 18.0561 5.86821 17.8365 6.24761Z' fill='white' stroke='%23F3B63F' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 16.25V22.5' stroke='%23F3B63F' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 30C21.0355 30 21.875 29.1605 21.875 28.125C21.875 27.0895 21.0355 26.25 20 26.25C18.9645 26.25 18.125 27.0895 18.125 28.125C18.125 29.1605 18.9645 30 20 30Z' fill='%23F3B63F'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  }
}

.prompt--warning {
  border-left: 0.5rem solid $color_red;
  background: #FCEDEE;

  &::before {
    //width: 24px;
    //height: 24px;
    //background: url("../img/sprite.svg#icon-attention") no-repeat center / contain;
    background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35Z' stroke='%23DE4355' stroke-width='2.5' stroke-miterlimit='10'/%3E%3Cpath d='M20 12.5V21.25' stroke='%23DE4355' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 28.75C21.0355 28.75 21.875 27.9105 21.875 26.875C21.875 25.8395 21.0355 25 20 25C18.9645 25 18.125 25.8395 18.125 26.875C18.125 27.9105 18.9645 28.75 20 28.75Z' fill='%23DE4355'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  }
}

.prompt--ok {
  &::before {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C9.62663 0 7.30655 0.703787 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.91345 7.40779C0.00519937 9.60051 -0.23244 12.0133 0.230582 14.3411C0.693604 16.6688 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0865C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6934 24 14.3734 24 12C24 8.8174 22.7357 5.76515 20.4853 3.51472C18.2348 1.26428 15.1826 0 12 0ZM12 22.5C9.9233 22.5 7.89323 21.8842 6.16651 20.7304C4.4398 19.5767 3.09399 17.9368 2.29927 16.0182C1.50455 14.0995 1.29661 11.9883 1.70176 9.95155C2.1069 7.91475 3.10693 6.04383 4.57538 4.57538C6.04383 3.10693 7.91475 2.1069 9.95155 1.70175C11.9884 1.29661 14.0996 1.50454 16.0182 2.29926C17.9368 3.09398 19.5767 4.43979 20.7304 6.16651C21.8842 7.89322 22.5 9.92329 22.5 12C22.5 14.7848 21.3937 17.4555 19.4246 19.4246C17.4555 21.3937 14.7848 22.5 12 22.5Z' fill='%236DACE2'/%3E%3Cpath d='M19.4997 7.57552C19.3592 7.43583 19.1691 7.35742 18.971 7.35742C18.7728 7.35742 18.5827 7.43583 18.4422 7.57552L10.1172 15.863L5.61721 11.363C5.47996 11.2148 5.28946 11.1272 5.08763 11.1195C4.88579 11.1118 4.68915 11.1845 4.54096 11.3218C4.39277 11.459 4.30517 11.6495 4.29743 11.8513C4.2897 12.0532 4.36246 12.2498 4.49971 12.398L10.1172 18.0005L19.4997 8.64052C19.57 8.57079 19.6258 8.48784 19.6639 8.39645C19.7019 8.30505 19.7215 8.20703 19.7215 8.10802C19.7215 8.00901 19.7019 7.91098 19.6639 7.81958C19.6258 7.72819 19.57 7.64524 19.4997 7.57552Z' fill='%236DACE2'/%3E%3C/svg%3E") no-repeat center / contain;
  }
}

.prompt--success {
  border-left-color: $color_green;
  box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.1);
  font-weight: 500;
  
  &::before {
    background: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.75 36.25H26.25' stroke='%23199F27' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 31.25V22.5' stroke='%23199F27' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 17.5L20 22.5L25 17.5' stroke='%23199F27' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.2975 26.0956C10.8111 24.9347 9.60725 23.452 8.77635 21.759C7.94545 20.0659 7.50914 18.2066 7.50019 16.3206C7.46275 9.54525 12.925 3.91305 19.6986 3.75362C22.3234 3.69042 24.9014 4.45529 27.0671 5.93973C29.2327 7.42418 30.8759 9.55282 31.7637 12.0237C32.6515 14.4946 32.7387 17.1824 32.013 19.7056C31.2873 22.2289 29.7855 24.4596 27.7207 26.0813C27.2659 26.4337 26.8972 26.8848 26.6424 27.4007C26.3876 27.9165 26.2534 28.4835 26.25 29.0588L26.25 30.0001C26.25 30.3316 26.1183 30.6495 25.8839 30.884C25.6495 31.1184 25.3315 31.2501 25 31.2501H15C14.6685 31.2501 14.3505 31.1184 14.1161 30.884C13.8817 30.6495 13.75 30.3316 13.75 30.0001L13.75 29.0577C13.7485 28.4861 13.617 27.9224 13.3654 27.4091C13.1137 26.8959 12.7485 26.4467 12.2975 26.0956V26.0956Z' stroke='%23199F27' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / contain;
  }
}

.prompt--sticky {
  width: 100%;
  max-width: unset;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  z-index: 10;

  //@include _1000 {
  //  max-width: 1000px;
  //}

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100vw;
    height: 100%;
    background-color: inherit;
    z-index: -1;
  }
}
.prompt--hide {
  display: none;
}

.prompt__close {
  position: absolute;
  top: 18px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: transparent url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C9.62663 0 7.30655 0.703787 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.91345 7.40779C0.00519937 9.60051 -0.23244 12.0133 0.230582 14.3411C0.693604 16.6688 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0865C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6934 24 14.3734 24 12C24 8.8174 22.7357 5.76515 20.4853 3.51472C18.2348 1.26428 15.1826 0 12 0ZM12 22.5C9.9233 22.5 7.89323 21.8842 6.16651 20.7304C4.4398 19.5767 3.09399 17.9368 2.29927 16.0182C1.50455 14.0995 1.29661 11.9883 1.70176 9.95155C2.1069 7.91475 3.10693 6.04383 4.57538 4.57538C6.04383 3.10693 7.91475 2.1069 9.95155 1.70175C11.9884 1.29661 14.0996 1.50454 16.0182 2.29926C17.9368 3.09398 19.5767 4.43979 20.7304 6.16651C21.8842 7.89322 22.5 9.92329 22.5 12C22.5 14.7848 21.3937 17.4555 19.4246 19.4246C17.4555 21.3937 14.7848 22.5 12 22.5Z' fill='%23DBDBDB'/%3E%3Cpath d='M9 9L15 15' stroke='%23DBDBDB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 9L9 15' stroke='%23DBDBDB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
  //@include _1000 {
  //  width: 30px;
  //}

  &:hover {
    filter: invert(100%);
    opacity: 0.5;
  }

  &:focus {
    filter: invert(100%);
    opacity: 1;
  }
}

.prompt.prompt--blockSetting {
  display: flex;
  justify-content: space-between;
  margin-top: 0;

  @media ($media_sm) {
    padding: 1rem;
    display: grid;
    justify-items: center;

    &::before {
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 4rem;
      height: 4rem;
    }

    > div {
      margin-left: 3.5rem;
      text-align: left;

      @media ($media_sm) {
        margin-top: 4.5rem;
        margin-left: 0;
      }
    }
  }
}