.notfound {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media ($media_sm) {
        margin: 4rem var(--section_padding);
    }

    &-item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &.img {
            text-align: center;

            img {

                @media ($media_xl) {
                    max-width: 80%;
                }
    
                @media ($media_sm) {
                    max-width: 100%;
                }
            }
        }

        p {
            font-weight: 500;
            line-height: 1.6;
        }

        &.button {

            @media ($media_sm) {
                width: 100%;

                a {
                    padding: 1rem 0;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 1rem 5rem;

                svg {
                    height: 32px;
                    width: 32px;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

.page-notfound {
    
    .page_title {
        display: none;
    }

    h1.main-title {
        @media ($media_sm) {
            display: none;
        }
    }


    .header-logo {

        .burger {
            display: none;
        }

        .logo {
            @media ($media_sm) {
                padding: 0;
                width: 12rem;
            }
        }
    }

    .header-controls {

        &-links {

            div:first-child {
                display: none;
            }
    
        }

        @media ($media_sm) {
            justify-content: flex-end;
        }
    }
}