input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
}

input[type="checkbox"] {
  --checkbox-color: #e1e1e1;

  //--checkbox-color: red;
  display: inline-block;
  vertical-align: middle;
  //width: 24/18*1rem;
  //height: 24/18*1rem;
  width: rem(24,18);
  height: rem(24,18);
  border-radius: 4px;
  border: 1px solid var(--checkbox-color);
  background: $color-inverse;
  appearance: none;

  &:checked {
    --checkbox-color: #{$color_blue};
    //--checkbox-color: #{$color_blue};
    //border: 1px solid var(--checkbox-color);
    background: var(--checkbox-color) url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 4.5L6.5 11.4997L3 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
  }

  &:focus {
    outline: none;
  }
}

dd {
  margin-left: 0;
  margin-right: 0;
}

.backlink-block {
  //margin-bottom: 50/18*1rem;
  margin-bottom: rem(50,18);
}

.backlink {
  font-weight: 500;
  color: $color_blue;
  text-decoration: none;

  @media ($media_md) {
    //font-size: 18/14*1rem;
    font-size: rem(18,14);
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-top: 1px solid $color_blue;
    border-left: 1px solid $color_blue;
    transform: rotate(-45deg);
  }
}

.ticket-name {
  display: inline-block;
  vertical-align: middle;
}

.ticket-abbr {
  display: inline-block;
  padding: 3px 5px 3px 0;
  border-radius: 4px;
  font-weight: 700;
  color: $color_blue;
}

.ticket-title {
  display: block;
  font-size: 12px;
  //max-width: 100%;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-link {
  display: block;
  font-size: 12px;
  //max-width: 100%;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contenteditable-btn {

}

.contenteditable-span {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  text-align: left;
}

.contenteditable-input[type] {
  display: inline-block;
  vertical-align: middle;
  max-width: 70px;
  padding: 6px 8px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.bright {
  color: $color_blue;
}

.section-main .main-title:empty {
  display: none;
}
