.portfolio {
    padding: 5.5rem 14rem;
    background-color: $color_white;
    border-radius: 1.1rem;
    margin: 6rem 13rem 0 9rem;
    position: relative;
    overflow: hidden;

    @media ($media_xl) {
        margin: 3rem 5rem;
        padding: 3rem 12rem;
    }

    @media ($media_sm) {
        margin: 1rem;
        padding: 7rem 1rem;
    }

    &-title {
        margin-bottom: 2.5rem;

        h1 {
            line-height: 1.4;
            text-align: center;
            font-size: 2.6rem;

            @media ($media_sm) {
                font-size: 2rem;
            }
        }
    }

    &-form {
        &-input {
            margin-bottom: 0.7rem;
        }

        &-button {
            margin-top: 2.7rem;
            text-align: center;
        }
    }

    &-figures {

        svg {
            position: absolute;

            @media ($media_sm) {
                transform: scale(0.4);
            }
        }

        .top {

            &-left {
                top: 0px;
                left: 0;
                width: 192px;
                height: 192px;

                @media ($media_sm) {
                    transform-origin: top left;
                }
            }

            &-right {
                top: 8%;
                right: 0;
                width: 140px;
                height: 139px;

                @media ($media_sm) {
                    transform-origin: top right;
                }
            }
        }

        .bottom {

            &-left {
                bottom: 3rem;
                left: 3rem;
                width: 64px;
                height: 64px;

                @media ($media_sm) {
                    transform-origin: bottom left;
                }
            }

            &-right {
                right: 10%;
                bottom: 0;
                width: 138px;
                height: 70px;

                @media ($media_sm) {
                    transform-origin: bottom right;
                }
            }
        }
    }
}