// === header === [ Стили для навбара, используемые на всех страницах ] ===

.section-header {
    background: $color_header_bg;
    //padding: 1.3rem 0;
    border-bottom: 1px solid rgba(235, 241, 254, 0.3);
    box-shadow: 0px 10px 20px -13px rgba(62, 84, 216, 0.21);
    position: relative;
    z-index: 11;

    .section-full {
        
    }

    &.headerSearchBar {
        @media ($media_sm) {
            .header {
                height: calc(var(--header_height) * 1.8);
    
                &-controls {
                    &-search {
                        position: absolute;
                        margin: 0;
                        width: 100%;
                        left: 0;
                        padding: 0 var(--section_padding);

                        margin-bottom: -70px;

                        .inputGroup__icon {
                            right: 2rem;
                        }
                    }
    
                    &-links {
                        margin-top: -70px;
                    }
                }
    
                &-logo {
                    margin-top: -70px;
                }
            }
        }
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--header_height);

        @media ($media_sm) {
            position: relative;
        }

        &-logo {

            @media ($media_sm) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .logo {
                display: flex;
                width: 15rem;

                @media ($media_xl) {
                    width: 11rem;
                }

                @media ($media_sm) {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;
                    width: 11rem;
                }

                picture {
                    display: inline-flex;
                }

                &-icon {
                    max-width: 100%;
                }
            }
        }

        &-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @media ($media_sm) {
                justify-content: flex-end;;
            }

            // @media ($media_sm) {
            //     flex-direction: column;
            //     align-items: flex-start;

            //     &[data-burger='menu'] {
            //         display: none; // если бургер меню активно
            //         width: 100%;
            //     }
            // }

            &-title {
                margin-left: 0.7rem;

                @media ($media_xl) {
                    margin-left: 3.2rem;
                }

                @media ($media_sm) {
                    display: none;
                }
            }

            &-search {
                flex-grow: 1;
                margin: 0 4rem;

                @media ($media_xl) {
                    margin: 0 2rem;
                }
            }

            &-links {
                display: flex;
                align-items: center;

                &-link {
                    display: flex;
                    align-items: center;

                    &:not(:first-child) {
                        margin-left: 1.5rem;

                        @media ($media_sm) {
                            margin-left: 1rem;
                        }
                    }

                    &.bell {
                        position: relative;

                        svg {
                            width: 1.6rem;
                            height: 1.6rem;
                            stroke: $breadcrumb_border;
                        }

                        &--active {
                            &::before {
                                position: absolute;
                                top: -20%;
                                left: 50%;
                                transform: translateX(-50%);
                                content: "";
                                min-width: 0.3rem;
                                min-height: 0.3rem;
                                border-radius: 50%;
                                background-color: $color_green;
    
                            }
                        }

                        input[type="checkbox"]:checked {
                            ~ svg {
                                stroke: $color_blue;
                            }

                            ~ .bell__notify {
                                display: block;
                            }
                        }

                        .bell__notify {
                            display: none;

                            position: absolute;
                            right: 0;
                            bottom: -0.5rem;
                            transform: translateY(100%);
                            min-width: 27rem;

                            @media ($media_sm) {
                                min-width: calc(100vw - 2rem);
                                max-width: calc(100vw - 2rem);
                                left: unset;
                                right: -2.8rem;
                                bottom: -1.5rem;
                            }
                        }
                    }

                    &.registration, &.auth {
                        display: none;
                    }

                    &.withCaret {
                        position: relative;

                        @media ($media_sm) {
                            display: none;
                        }
        
                        &:hover {
        
                            label {
        
                                span {
                                    color: $color_blue_hover;
                                }
        
                                svg {
                                    stroke: $color_blue_hover;
                                }
                            }
                        }
        
                        label {
                            cursor: pointer;
        
                            span {
                                font-size: 1rem;
                                color: $color_blue;
                                font-weight: 500;
                                transition: 0.3s ease-in-out;
                            }
            
                            svg {
                                width: 0.7rem;
                                height: 0.7rem;
                                stroke: $color_blue;
                                transition: 0.3s ease-in-out;
                            }
                        }
        
                        input[type='checkbox']:checked ~ label ~ .dropdown {
                            display: block;
                        }
        
                        input[type='checkbox']:checked ~ label {
        
                            svg {
                                transform: rotate(180deg);
                                stroke: $color_blue_hover;
                            }
        
                            span {
                                color: $color_blue_hover;
                            }
                        }

                        &.currency {

                            .dropdown {

                                .content {
                                    grid-template-columns: 1fr;

                                    span {
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }

                        .dropdown {
                            position: absolute;
                            left: 0;
                            bottom: -0.5rem;
                            transform: translateY(100%);
                            display: none;
                            z-index: 1;
                
                            background: $color_block_bg;
                            border: 1px solid $color_block_border;
                            box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.1);
                            border-radius: 0.5rem;
                            padding: 1.4rem;
                
                            @media ($media_sm) {
                                input[type='checkbox']:checked ~ .menu {
                
                                    label {
                                        svg {
                                            transform: rotate(180deg);
                                        }
                                    }
                    
                                    ~ .content {
                                        display: grid;
                                    }
                                }
                    
                                .menu {
                                    display: flex;
                                    flex-direction: column;
                    
                                    a {
                                        font-weight: 500;
                                        color: $color_blue;
                                        text-decoration: none;
                                        font-size: 1.1rem;
                                        display: flex;
                                        align-items: center;
                    
                                        &:not(:last-child) {
                                            margin-bottom: 1.5rem;
                                        }
                    
                                        label {
                                            display: flex;
                                            align-items: center;
                                        }
                    
                                        svg {
                                            width: 1rem;
                                            height: 1rem;
                                            stroke: $color_blue;
                                            margin-left: 0.3rem;
                                            margin-top: -0.1rem;
                                        }
                                    }
                                }
                            }
                
                            .content {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 1.2rem;
                
                                @media ($media_sm) {
                                    display: none;
                                    grid-template-columns: 1fr;
                                    max-height: 10rem;
                                    overflow-y: scroll;
                
                                    border-top: 1px solid $color_block_border;
                                    padding-top: 1.5rem;
                                    margin-top: 1.5rem;
                                }
                
                                span {
                                    font-size: 1rem;
                                    cursor: pointer;
                
                                    &.active {
                                        font-weight: 600;
                                        color: $color_blue;
                                    }
                
                                    &:hover {
                                        color: $color_blue;
                                    }
                                }
                            }
                        }
                    }

                    &.person {

                        .dropdown {

                            picture {
                                img {
                                    max-width: 1.8rem;
                                }
                            }

                            label {
                                cursor: pointer;
            
                                > span {
                                    font-size: 1.2rem;
                                    color: $color_blue;
                                    font-weight: 500;
                                    transition: 0.3s ease-in-out;
                                }
                
                                svg {
                                    width: 0.7rem;
                                    height: 0.7rem;
                                    stroke: $color_blue;
                                    transition: 0.3s ease-in-out;
                                }
                            }

                            .labels {
                                display: none;

                                @media ($media_sm) {
                                    display: flex;
                                    padding-bottom: 1rem;
                                    margin-bottom: 1rem;
                                    border-bottom: 1px solid $color_block_border;
    
                                    label {
                                        display: flex;
                                        align-items: center;
    
                                        &:not(:last-child) {
                                            margin-right: 1.3rem;
                                        }
    
                                        span {
                                            white-space: nowrap;
                                        }
    
                                        svg {
                                            margin-left: 0.35rem;
                                        }
                                    }
                                }
                            }

                            .content {
                                display: none;

                                grid-template-columns: 1fr 1fr;
                                grid-gap: 1.4rem;
                                padding-bottom: 1rem;
                                margin-bottom: 1rem;
                                border-bottom: 1px solid $color_block_border;

                                span {
                                    font-size: 1.1rem;

                                    &.active {
                                        font-weight: 600;
                                        color: $color_blue;
                                    }
                                }

                            }

                            #langMobile:checked {

                                ~ .langMobileContent {
                                    display: grid;
                                }

                                ~ .labels > .langMobileLabel {
                                    svg {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            #currencyMobile:checked {
                                ~ .currencyMobileContent {
                                    display: grid;
                                }

                                ~ .labels > .currencyMobileLabel {
                                    svg {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                        }
                    }

                    .dropdown {
                        position: relative;
                        cursor: pointer;

                        input[type="checkbox"]:checked ~ .dropdown-content {
                            display: block;
                        }

                        &-content {
                            display: none;
                            position: absolute;
                            bottom: 0;
                            transform: translateY(100%);
                            right: 0;

                            background: $color_block_bg;
                            border: 1px solid $color_block_border;
                            box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.1);
                            border-radius: 10px;
                            padding: 0.8rem 1.1rem;

                            @media ($media_sm) {
                                bottom: -0.5rem;
                                padding: 1.1rem;
                            }

                            li {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
        
                                svg {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    stroke: $color_black_main;
                                    margin-right: 0.8rem;
        
                                    @media ($media_sm) {
                                        width: 1.8rem;
                                        height: 1.8rem;
                                    }
                                }
        
                                a {
                                    color: $color_black_main;
                                    font-size: 1rem;
                                    text-decoration: none;
        
                                    @media ($media_sm) {
                                        font-size: 1.25rem;
                                    }
                                }

                                &.useViewProfile {
                                    display: none;
                                }
        
                                &:not(:last-child) {
                                    margin-bottom: 1rem;
                                }
        
                                &:hover, &:focus {
                                    svg {
                                        stroke: $color_blue;
                                        fill: $color_blue;
                                    }
        
                                    a {
                                        color: $color_blue;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }

            &-select {
                margin-left: 2rem;

                @media ($media_sm) {
                    margin: 0.8rem 0 0 0;
                }
            }
        }
    }
    
}

// === / header ===