.myStrategy-news-container {

    .table {

        &-header {

            h5 {

                &:nth-child(1) {
                    min-width: 25%;
                }

                &:nth-child(2) {
                    min-width: 15%;
                }

                &:nth-child(3) {
                    flex-grow: 1;
                }
            }
        }

        &-content {

            &-company {
                display: none;

                @media ($media_sm) {
                    display: block;
                    font-size: 1.3rem;
                    color: $color_blue;
                    background-color: $color_table_header;
                    border: 1px solid $color_block_border;
                    margin-left: -1.5rem;
                    margin-right: -1.5rem;
                    padding: 0.8rem 1.5rem; 
                }
            }

            &-item {

                @media ($media_sm) {
                    .date, .text {
                        flex-basis: 95%;
                    }
                }

                &.shown {

                    .text {
                        height: auto;
                        line-height: 1.8;
                    }

                    svg {
                        transform: scale(1.2) rotate(180deg);
                        fill: $color_blue;
                    }
                }

                span {
                    line-height: 1.8;
                }

                .company {
                    font-weight: 600;
                    color: $color_blue;
                    min-width: 25%;

                    @media ($media_sm) {
                        display: none;
                    }
                }

                .date {
                    min-width: 15%;
                    color: $color_grey;
                }

                .text {
                    flex-basis: 60%;
                    text-overflow: ellipsis;

                    height: 1.4rem;
                    overflow: hidden;
                }

                svg {
                    width: 14px;
                    height: 9px;
                    transform: scale(1.2);
                    fill: lighten($color_blue, 15%);
                    margin-top: 0.5rem;

                    @media ($media_sm) {
                        margin-top: -1rem;
                        margin-right: -0.5rem;
                    }
                }
            }
        }
    }
}