$strategy-btn-margin: 0.8rem;

.stategyPromo {
    display: flex;

    @media ($media_sm) {
        flex-wrap: wrap;
    }

    &-info {
        flex-basis: 30%;
        margin-right: 2rem;

        @media ($media_sm) {
            flex-basis: 100%;
            margin-right: 0;
        }

        &-score {
            margin-bottom: 4rem;

            h4 {
                font-size: 0.75rem;
                font-weight: 500;
                margin-bottom: 0.6rem;
            }

            p {
                font-weight: bold;

                &.success {
                    color: $color_green;
                }

                &.error {
                    color: $color_red;
                }
            }

            &-header {
                margin-bottom: 2.22rem;
                
                h1 {
                    font-size: 2.22rem;
                    color: $color_black_title;
                    opacity: 0.9;
                }
            }

            &-main {
                margin-bottom: 1.8rem;

                p {
                    font-size: 2.8rem;
                    white-space: nowrap;
                }
            }

            &-secondary {
                &-item {
                    p {
                        font-size: 1.35rem;
                    }

                    &:not(:last-child) {
                        margin-bottom: 1.35rem;
                    }
                }
            }
        }

        &-buttons {

            &-top {
                svg {
                    stroke: $color_white;
                }
            }

            &-bottom {
                display: flex;
                margin-top: $strategy-btn-margin;

                .btn-full {
                    margin-right: $strategy-btn-margin;
                }

                .btn-label {
                    position: relative;

                    input[type="checkbox"]:checked ~ .dropdown {
                        display: block;
                    }

                    .dropdown {
                        display: none;

                        position: absolute;
                        left: 0;
                        bottom: -0.5rem;
                        transform: translateY(100%);

                        background: $color_block_bg;
                        border: 1px solid $color_block_border;
                        box-shadow: 0px 0px 9px rgba(62, 84, 216, 0.18);
                        border-radius: 10px;
                        padding: 1.8rem 1rem;
                        z-index: 1;

                        &--fullWidth {
                            min-width: 28rem;

                            @media ($media_sm) {
                                min-width: 90vw;
                                max-width: 90vw;
                            }
                    

                            .dropdown-link {
                                margin: 0;
                            }
                        }

                        &-social {
                            display: flex;

                            &-icon {
                                padding: 0 1.5rem;

                                &:not(:last-child) {
                                    border-right: 1px solid $color_border_dop;
                                }

                                svg {
                                    fill: $color_blue;

                                    &:hover {
                                        fill: darken($color_blue, 15%);
                                    }
                                }
                            }
                        }

                        &-link {
                            margin: 1.5rem 0;

                            &-title {
                                margin-bottom: $strategy-btn-margin;

                                h5 {
                                    color: $color_grey;
                                    font-size: 0.9rem;
                                    font-weight: 500;
                                }
                            }

                            &-form {
                                display: flex;

                                input {
                                    color: $color_blue;
                                    padding: 16px 20px;
                                }

                                button {
                                    padding: 0.6rem;
                                    margin-left: $strategy-btn-margin;

                                    svg {
                                        stroke: $color_black_main;
                                        transition: 0.3s ease-in-out;
                                        fill: none;
                                    }

                                    &:hover,
                                    &:focus {
                                        background-color: $color_blue;
                                        border-color: $color_blue;

                                        svg {
                                            stroke: $color_white;
                                        }
                                    }
                                }
                            }
                        }

                        &-share {
                            display: flex;

                            h5 {
                                font-weight: 500;
                                font-size: 1rem;
                            }

                            &-toggle {
                                input {
                                    display: none;
                                }

                                label {
                                    cursor: pointer;
                                    padding-right: 35px;
                                    position: relative;
                                    display: block;
                                    font-size: 18px;
                                    padding: 10px 0;

                                    margin-left: 4.5rem;
                                    transform: scale(0.9);
                                }

                                input[type="checkbox"] {
                                    position: absolute;
                                    visibility: hidden !important;
                                }

                                input[type="checkbox"] + label {
                                    &:before,
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        margin-top: -15px;
                                        box-sizing: border-box;
                                    }

                                    &::before {
                                        width: 55px;
                                        height: 30px;
                                        right: 0px;
                                        background: $color_grey;
                                        border: 2px solid $color_grey;
                                        border-radius: 30px;
                                    }

                                    &::after {
                                        width: 26px;
                                        height: 26px;
                                        right: 27px;
                                        top: 12px;
                                        background: $color_white;
                                        border-radius: 50%;
                                        transition: all 200ms ease-out;
                                    }
                                }

                                input[type="checkbox"]:checked + label {
                                    &::after {
                                        right: 2px;
                                    }

                                    &::before {
                                        background: $color_blue;
                                        border: 2px solid $color_blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                width: auto;

                &.btn-full {
                    width: 100%;
                }

                svg {
                    width: 32px;
                    height: 32px;
                }

                span {
                    margin-left: 0.8rem;
                }
            }
        }
    }

    &-graph {
        position: relative;
        flex-basis: 70%;

        @media ($media_sm) {
            flex-basis: 100%;
            margin-top: 3rem;
        }

        background: $color_white;
        border: 1px solid $color_block_border;
        box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.1);
        border-radius: 1rem;
        padding: 1.4rem 1.7rem;

        &-title {
            font-size: 1.1rem;
            color: $color_black_title;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: -1rem;

            @media ($media_sm) {
                margin-bottom: 0;
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;

            @media ($media_sm) {
                flex-direction: column;
            }

            .modal-content-switcher-button {
                align-self: center;

                @media ($media_sm) {
                    width: 100%;
                    margin-top: 1rem;
                }

                label {
                    min-width: 8rem;

                    span {
                        padding: 0.875rem;
                    }
                }

            }

            &-btn {
                position: relative;
                margin-right: 0.8rem;

                @media ($media_sm) {
                    margin-right: 0;
                    width: calc(100% - 4rem);
                }

                > span {
                    white-space: nowrap;
                    max-width: 14rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                input[type="checkbox"]:checked ~ .selectDropdown {
                    display: block;
                }

                input[type="checkbox"]:checked ~ svg {
                    transform: rotate(180deg);
                }

            }

            &-content {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $color_block_border;
                width: 100%;
                min-height: 3.5rem;

                &.borderNone {
                    width: unset;
                    border: none;
                    
                    .stategyPromo-graph-info-content-choose {
                        margin-left: 0;
                    }
                }

                &-date {
                    display: flex;
                    align-items: center;

                    @media ($media_sm) {
                        display: none;
                    }

                    span {
                        font-size: 0.9rem;
                        color: $color_grey;
                        font-weight: 500;
                    }
                }

                &-choose {
                    display: flex;
                    margin-left: auto;

                    @media ($media_sm) {
                        width: 100%;
                        justify-content: space-between;
                    }

                    @media ($media_sm) {
                        margin-top: 0.5rem;
                    }

                    &-item {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        border-bottom: 3px solid transparent;

                        @media ($media_sm) {
                            padding: 1.3rem 0;
                            justify-content: center;
                        }

                        &:not(:last-child) {
                            margin-right: 1rem;

                            @media ($media_sm) {
                                margin-right: 0;
                            }
                        }

                        span {
                            font-weight: 500;
                            font-size: 0.9rem;
                        }

                        &.dotted {

                            &:hover, &.active {
                                border-bottom: 3px solid transparent;
                            }

                            svg {
                                width: 25px;
                                height: 5px;
                            }
                        }

                        &:hover, &.active {
                            border-color: $color_blue;

                            span {
                                color: $color_blue;
                            }
                        }
                    }
                }
            }
        }

        &-values {
            display: flex;
            align-items: center;
            padding: 0.7rem 0 0.7rem 1rem;
            min-height: 4.5rem;

            @media ($media_sm) {
                flex-direction: column;
                align-items: flex-start;
                padding: 1.4rem 0 1.4rem 1rem;
                min-height: auto;
            }

            &-item {
                position: relative;
                font-size: 0.9rem;

                &:not(:first-child) {
                    margin-left: 2rem;

                    @media ($media_sm) {
                        margin: 1rem 0 0;
                    }
                }

                strong {
                    &.success {
                        color: $color_green;
                    }

                    &.error {
                        color: $color_red;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 0.5rem;
                    width: 0.5rem;
                    border-radius: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -1rem;
                }

                &.primary {
                    &::before {
                        background-color: $color_blue;
                    }
                }

                &.error {
                    &::before {
                        background-color: $color_red;
                    }
                }

                &.success {
                    &::before {
                        background-color: $color_green;
                    }
                }
            }

            &-btn {
                position: relative;
                margin-left: auto;
                display: inline-flex;

                @media ($media_sm) {
                    position: absolute;
                    top: 1.4rem;
                    right: 1.7rem;
                }

                input[type="checkbox"]:checked {
                    ~ .btn {
                        background-color: $color_blue;
                        border-color: $color_blue;

                        svg {
                            stroke: $color_white;
                        }
                    }

                    ~ .selectDropdown {
                        display: block;
                    }
                }

                .selectDropdown {
                    right: 0;
                    left: unset;
                }

                .btn {
                    padding: 0.6rem;
                    display: flex;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        stroke: $breadcrumb_border;

                        @media ($media_sm) {
                            width: 1.9rem;
                            height: 1.9rem;
                        }
                    }
                }
            }
        }

        &-chart {

        }

        &-dates {
            display: flex;
            justify-content: center;
            font-weight: 600;
            margin-top: 0.7rem;

            @media ($media_sm) {
                font-size: 1.1rem;
            }
        }

    }
}